@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

section #sociallinks {
  text-align: center;
  transform: translatez(0);
}
section #sociallinks li {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px;
  list-style: none;
}
section #sociallinks li div {
  width: 30px;
  height: 30px;
  color: #ff7200;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #sociallinks li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #sociallinks li span {
  width: 30px;
  height: 10px;
  display: block;
  padding: 0px 0px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
