@charset "UTF-8";

html {
	font-size: 1em;
	line-height: 1.5;
}
body {
	background-color: #f5f4ef;
	color: #a5a49f;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.mermaid {
	height: 540px;
	width: 960px;
}

/*
 **
 **  Loading Stuff
 **
 */
#holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.9;
	z-index: 9999;
	top: 0;
	left: 0;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
#loading.loaded {
	opacity: 0;
}
#loading.loaded .loader {
	-webkit-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
}
#loading .loader {
	width: 5vw;
	padding: .3vw;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}
#loading .loader * {
	-webkit-animation: dash-fade-in 2s cubic-bezier(0.6, 0, 0.4, 1) alternate infinite forwards;
	animation: dash-fade-in 2s cubic-bezier(0.6, 0, 0.4, 1) alternate infinite forwards;
	fill-opacity: 0;
	stroke-dasharray: 3000;
	stroke-dashoffset: 3000;
	stroke: #efd644;
}

/*
 **
 **  Sections Stuff
 **
 */

.section {
	overflow: hidden;
	/* position: relative; */
	padding: 30px 0 0;
	background-color: #f5f4ef;
}
.first {
	padding-top: 100px;
}
.section h1, .section .h1, .section h3, .section .h3, .section h4, .section .h4, .section h5, .section .h5 {
	color: #ff7200;
}

.section-dark {
	background-color: #141316;
	color: white;
	padding: 25px 0
}
.section-dark h1, .section-dark .h1, .section-dark h2, .section-dark .h2, .section-dark h3, .section-dark .h3, .section-dark h4, .section-dark .h4, .section-dark h5, .section-dark .h5 {
	color: white;
}
.section-dark .btn:hover {
	color: #141316 !important;
}
.section-dark .btn.inverse {
	color: #141316;
}

/* Section Background specific */

.section-background {
	background-size: cover;
	background-position: center center;
}
.section-background.fixed {
	background-attachment: fixed;
	z-index: 90;
}

.parallax {
	overflow: hidden;
	z-index: 1;
}
.parallax .parallaxing {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.parallax.h-2x .parallaxing {
	height: 200vh;
}

/*
 **
 **  YouTube ifame and video embed elastic
 **
 */

.video-container {
	position: inherit;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 **
 **  Typo Stuff
 **
 */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: 'Montserrat', sans-serif;
}
h1, .h1 {
	font-size: 80px;
}
h2, .h2 {
	font-size: 39px;
}
h3, .h3 {
	font-size: 32px;
}
h4, .h4 {
	font-size: 27px;
}
h5, .h5 {
	font-size: 22px;
}
.super-h {
	font-size: 54px;
}
.subtitle {
	font-size: 36px;
}
.subtitle i {
	font-size: 1.66em;
	margin-right: .33em;
}
.h-normal {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal
}
.h-bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold
}
.text-normal {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal
}
.text-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold
}
.text-extrabold {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder
}
.text-normalcase {
	text-transform: none;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
a {
	color: currentColor;
}
a:hover, a:focus {
	color: currentColor;
}
a:active, a:focus {
	outline: 0;
}

hr {
	position: relative;
	color: inherit;
	margin: 10px 0;
	/* width: 120px; */
	border-top: 1px solid #666666;
}
.color-egg-shell {
	color: #f5f4ef;
}
.color-grey {
	color: #a5a49f;
}
.color-white {
	color: #ffffff;
}
.color-dark {
	color: #141316;
}
.color-orange {
	color: #ff7200
}
blockquote {
	border-left: none;
}
blockquote h3 {
	padding: 0 0 60px 20px;
	margin: 60px 0 0 0;
	font-size: 50px;
	color: #ff7200;
	border-left: none;
}
/* blockquote h3:after {
	content: '”';
	display: inline-block;
	vertical-align: sub;
	font-size: 80px;
	font-family: Times, 'serif';
	font-weight: bold;
	line-height: 0;
	color: #ff7200;
}
/* blockquote h3:before {
	content: '“';
	display: inline-block;
	vertical-align: super;
	font-size: 77px;
	font-family: Times, 'serif';
	font-weight: bold;
	line-height: 0;
	color: #ff7200;
} */
blockquote h2 {
	padding: 20px 0 60px 20px;
	margin: 60px 0 0 0;
	font-size: 50px;
	color: #ff7200;
	border-left: 10px solid #ff7200;
}
/* blockquote h2:after {
	content: '”';
	display: inline-block;
	vertical-align: sub;
	font-size: 80px;
	font-family: Times, 'serif';
	font-weight: bold;
	line-height: 0;
	color: #ff7200;
}
/*
blockquote h2:before {
	content: '“';
	display: inline-block;
	vertical-align: super;
	font-size: 50px;
	font-family: Times, 'serif';
	font-weight: bold;
	line-height: 0;
	color: #ff7200;
} */
blockquote footer {
	font-size: 22px;
	margin-top: 45px;
}
blockquote footer:before {
	display: none;
}
.footer-copy {
	font-size: 18px;
}
.footer-copy a {
	color: #8f8f8f;
}
.mobile-btn {
	display: inline-block;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: none;
	border: none;
	position: absolute;
	z-index: 99;
	top: 5px;
	right: 12px;
	/* display: none; */
}
.mobile-btn:active, .mobile-btn:focus {
	outline: none;
}
.lines {
	display: inline-block;
	width: 20px;
	height: 2px;
	background-color: white;
	-webkit-transition: 150ms;
	transition: 150ms;
	position: relative;
	-webkit-transition: background 150ms 250ms ease;
	transition: background 150ms 250ms ease;
}
.lines:before, .lines:after {
	display: inline-block;
	width: 20px;
	height: 2px;
	background-color: white;
	-webkit-transition: 150ms;
	transition: 150ms;
	position: absolute;
	left: 0;
	content: '';
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: top 150ms 250ms ease, -webkit-transform 150ms ease;
	transition: top 150ms 250ms ease, transform 150ms ease;
}
.lines:before {
	top: 5px;
}
.lines:after {
	top: -5px;
}
.mobile-btn.x .lines {
	background: transparent;
}
.mobile-btn.x .lines:before, .mobile-btn.x .lines:after {
	-webkit-transition: top 250ms ease, -webkit-transform 150ms 250ms ease;
	transition: top 250ms ease, transform 150ms 250ms ease;
	top: 0;
	width: 20px;
}
.mobile-btn.x .lines:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}
.mobile-btn.x .lines:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

@media (min-width: 768px) {
	[id^="modal-screenshot-iphone"] .modal-dialog {
		width: 300px;
	}

	[id^="modal-screenshot-ipad"] .modal-dialog {
		width: 430px;
	}
}
[id^="modal-screenshot-iphone"] .close, [id^="modal-screenshot-ipad"] .close {
	font-size: 30px;
}
.navbar a.example-brand {
	color: #efd645;
	line-height: 1.25em;
	font-size: 20px;
}
.navbar {
	-webkit-transform: translateZ(0px);
}

/*
 **
 **  Buttons Stuff
 **
 */

.btn-circle {
	border: 1px solid;
	border-radius: 100%;
	font-size: 30px;
	padding: 0;
	width: 60px;
	height: 60px;
	line-height: 2.2;
	margin: 0 5px;
}
.btn-circle.btn-lg {
	font-size: 44px;
	padding: 0;
	width: 88px;
	height: 88px;
}
.btn-circle.btn-sm {
	font-size: 22px;
	padding: 0;
	width: 44px;
	height: 44px;
}
.btn-circle.btn-xs {
	font-size: 12px;
	padding: 0;
	width: 28px;
	height: 28px;
}

/*
 **
 **  Nav Stuff
 **
 */
.main-logo {
	position: absolute;
	margin: 0 50%;
	background-image: url(../images/logos/nzherald_white.png);
	width: 46px;
	height: 58px
}
.navbar {
	width: 100%;
	height: 70px;
	background-color: #000000;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}
.navbar {
	height: auto;
}

.nav {
	position: relative;
}
.nav-pills {
	max-height: 0;
	overflow: hidden;
	clear: both;
}
.nav-pills.open {
	max-height: 200px;
	/* padding-left: 27%; */
	/* background-color: #333; */
	border-top: solid 1px #666666
}
.nav-pills > li, .nav-pills.pull-right {
	float: none !important;
}
.navbar .container {
	position: relative;
}
.navbar.transp {
	background-color: rgba(0, 0, 0, 0.3);
}
.navbar a {
	font-size: 13px;
	color: white;
	background-color: transparent;
}
.nav > li > a {
	padding: 12px 20px;
}
.nav .social a {
	padding: 19px 3px;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #000000;
	background-color: #666666;
	float: none !important;
}
.main-version {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
	display: inline-block;
	vertical-align: text-bottom;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 20px;
	background-image: url(../images/logos/logo_spark.png);
	width: 97px;
	height: 30px
}
.brand-feature {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
	vertical-align: text-bottom;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 20px;
	font-weight:bold ;
	text-transform:uppercase
}

/*
 **
 **  Spacing Helpers Stuff
 **
 */
.text-right{
	text-align:right
}
.text-left {
	text-align:left
}
.m0 {
	margin: 0;
}
.mt0 {
	margin-top: 0;
}
.mr0 {
	margin-right: 0;
}
.mb0 {
	margin-bottom: 0;
}
.ml0 {
	margin-left: 0;
}
.p0 {
	padding: 0;
}
.pt0 {
	padding-top: 0;
}
.pr0 {
	padding-right: 0;
}
.pb0 {
	padding-bottom: 0;
}
.pl0 {
	padding-left: 0;
}
.m1 {
	margin: 0.5 rem;
}
.mt1 {
	margin-top: 0.5 rem;
}
.mr1 {
	margin-right: 0.5 rem;
}
.mb1 {
	margin-bottom: 0.5 rem;
}
.ml1 {
	margin-left: 0.5 rem;
}
.mxn1 {
	margin-left: -0.5 rem;
}
.p1 {
	padding: 0.5 rem;
}
.py1 {
	padding-top: 0.5 rem;
	padding-bottom: 0.5 rem;
}
.px1 {
	padding-left: 0.5 rem;
	padding-right: 0.5 rem;
}
.p1 {
	padding: 0.5 rem;
}
.pt1 {
	padding-top: 0.5 rem;
}
.pr1 {
	padding-right: 0.5 rem;
}
.pb1 {
	padding-bottom: 0.5 rem;
}
.pl1 {
	padding-left: 0.5 rem;
}
.mt-5 {
	margin-top: 5px;
}
.mr-5 {
	margin-right: 5px;
}
.mb-5 {
	margin-bottom: 5px;
}
.ml-5 {
	margin-left: 5px;
}
.m2 {
	margin: 1rem;
}
.mt2 {
	margin-top: 1rem;
}
.mr2 {
	margin-right: 1rem;
}
.mb2 {
	margin-bottom: 1rem;
}
.ml2 {
	margin-left: 1rem;
}
.mxn2 {
	margin-left: -1rem;
}
.p2 {
	padding: 1rem;
}
.py2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.px2 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.p2 {
	padding: 1rem;
}
.pt2 {
	padding-top: 1rem;
}
.pr2 {
	padding-right: 1rem;
}
.pb2 {
	padding-bottom: 1rem;
}
.pl2 {
	padding-left: 1rem;
}
.mt-10 {
	margin-top: 10px;
}
.mr-10 {
	margin-right: 10px;
}
.mb-10 {
	margin-bottom: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.m3 {
	margin: 2rem;
}
.mt3 {
	margin-top: 2rem;
}
.mr3 {
	margin-right: 2rem;
}
.mb3 {
	margin-bottom: 2rem;
}
.ml3 {
	margin-left: 2rem;
}
.mxn3 {
	margin-left: -2rem;
}
.p3 {
	padding: 2rem;
}
.py3 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.px3 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.p3 {
	padding: 2rem;
}
.pt3 {
	padding-top: 2rem;
}
.pr3 {
	padding-right: 2rem;
}
.pb3 {
	padding-bottom: 2rem;
}
.pl3 {
	padding-left: 2rem;
}
.mt-15 {
	margin-top: 15px;
}
.mr-15 {
	margin-right: 15px;
}
.mb-15 {
	margin-bottom: 15px;
}
.ml-15 {
	margin-left: 15px;
}
.m4 {
	margin: 4rem;
}
.mt4 {
	margin-top: 4rem;
}
.mr4 {
	margin-right: 4rem;
}
.mb4 {
	margin-bottom: 4rem;
}
.ml4 {
	margin-left: 4rem;
}
.mxn4 {
	margin-left: -4rem;
}
.p4 {
	padding: 4rem;
}
.py4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.px4 {
	padding-left: 4rem;
	padding-right: 4rem;
}
.p4 {
	padding: 4rem;
}
.pt4 {
	padding-top: 4rem;
}
.pr4 {
	padding-right: 4rem;
}
.pb4 {
	padding-bottom: 4rem;
}
.pl4 {
	padding-left: 4rem;
}
.mt-20 {
	margin-top: 20px;
}
.mr-20 {
	margin-right: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.ml-20 {
	margin-left: 20px;
}
.m5 {
	margin: 8rem;
}
.mt5 {
	margin-top: 8rem;
}
.mr5 {
	margin-right: 8rem;
}
.mb5 {
	margin-bottom: 8rem;
}
.ml5 {
	margin-left: 8rem;
}
.mxn5 {
	margin-left: -8rem;
}
.p5 {
	padding: 8rem;
}
.py5 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.px5 {
	padding-left: 8rem;
	padding-right: 8rem;
}
.p5 {
	padding: 8rem;
}
.pt5 {
	padding-top: 8rem;
}
.pr5 {
	padding-right: 8rem;
}
.pb5 {
	padding-bottom: 8rem;
}
.pl5 {
	padding-left: 8rem;
}
.mt-25 {
	margin-top: 25px;
}
.mr-25 {
	margin-right: 25px;
}
.mb-25 {
	margin-bottom: 25px;
}
.ml-25 {
	margin-left: 25px;
}

@media (max-width: 768px) {
	.px5 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
.mt-10 {
	margin-top: 10px;
}
.mb-10 {
	margin-bottom: 10px;
}
.pt-10 {
	padding-top: 10px;
}
.pb-10 {
	padding-bottom: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.pt-20 {
	padding-top: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.pt-30 {
	padding-top: 30px;
}
.pb-30 {
	padding-bottom: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-40 {
	margin-bottom: 40px;
}
.pt-40 {
	padding-top: 40px;
}
.pb-40 {
	padding-bottom: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mb-50 {
	margin-bottom: 50px;
}
.pt-50 {
	padding-top: 50px;
}
.pb-50 {
	padding-bottom: 50px;
}
.mt-60 {
	margin-top: 60px;
}
.mb-60 {
	margin-bottom: 60px;
}
.pt-60 {
	padding-top: 60px;
}
.pb-60 {
	padding-bottom: 60px;
}
.mt-70 {
	margin-top: 70px;
}
.mb-70 {
	margin-bottom: 70px;
}
.pt-70 {
	padding-top: 70px;
}
.pb-70 {
	padding-bottom: 70px;
}
.mt-80 {
	margin-top: 80px;
}
.mb-80 {
	margin-bottom: 80px;
}
.pt-80 {
	padding-top: 80px;
}
.pb-80 {
	padding-bottom: 80px;
}
.mt-90 {
	margin-top: 90px;
}
.mb-90 {
	margin-bottom: 90px;
}
.pt-90 {
	padding-top: 90px;
}
.pb-90 {
	padding-bottom: 90px;
}
.mt-100 {
	margin-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.mt-110 {
	margin-top: 110px;
}
.mb-110 {
	margin-bottom: 110px;
}
.pt-110 {
	padding-top: 110px;
}
.pb-110 {
	padding-bottom: 110px;
}
.pt-45 {
	padding-top: 45px;
}
.mr-25 {
	margin-right: 25px;
}
.fz-10 {
	font-size: 10px;
}
.fz-11 {
	font-size: 11px;
}
.fz-12 {
	font-size: 12px;
}
.fz-13 {
	font-size: 13px;
}
.fz-14 {
	font-size: 14px;
}
.fz-15 {
	font-size: 15px;
}
.fz-16 {
	font-size: 16px;
}
.fz-17 {
	font-size: 17px;
}
.fz-18 {
	font-size: 18px;
}
.fz-19 {
	font-size: 19px;
}
.fz-20 {
	font-size: 20px;
}
.fz-48 {
	font-size: 48px;
}
.w-5 {
	width: 5%;
}
.w-10 {
	width: 10%;
}
.w-15 {
	width: 15%;
}
.w-20 {
	width: 20%;
}
.w-25 {
	width: 25%;
}
.w-30 {
	width: 30%;
}
.w-35 {
	width: 35%;
}
.w-40 {
	width: 40%;
}
.w-45 {
	width: 45%;
}
.w-50 {
	width: 50%;
}
.w-55 {
	width: 55%;
}
.w-60 {
	width: 60%;
}
.w-65 {
	width: 65%;
}
.w-70 {
	width: 70%;
}
.w-75 {
	width: 75%;
}
.w-80 {
	width: 80%;
}
.w-85 {
	width: 85%;
}
.w-90 {
	width: 90%;
}
.w-95 {
	width: 95%;
}
.w-100 {
	width: 100%;
}
.em-0-5 {
	font-size: 0.5em;
}
.em-0-25 {
	font-size: 0.25em;
}
.em-0-75 {
	font-size: 0.75em;
}
.em-1-5 {
	font-size: 1.5em;
}
.em-1-25 {
	font-size: 1.25em;
}
.em-1-75 {
	font-size: 1.75em;
}
.em-2 {
	font-size: 2em;
}
.em-2-5 {
	font-size: 2.5em;
}
.em-3 {
	font-size: 3em;
}
.em-3-5 {
	font-size: 3.5em;
}
.em-4 {
	font-size: 4em;
}
.em-5 {
	font-size: 5em;
}
.em-7-5 {
	font-size: 7.5em;
}
.em-10 {
	font-size: 10em;
}
.em-20 {
	font-size: 20em;
}
.lh-0-5 {
	line-height: 0.5em;
}
.lh-0-25 {
	line-height: 0.25em;
}
.lh-0-75 {
	line-height: 0.75em;
}
.lh-1 {
	line-height: 1;
}
.lh-1-5 {
	line-height: 1.5em;
}
.lh-1-25 {
	line-height: 1.25em;
}
.lh-1-75 {
	line-height: 1.75em;
}
.lh-2 {
	line-height: 2em;
}
.lh-2-5 {
	line-height: 2.5em;
}
.lh-3 {
	line-height: 3em;
}
.lh-3-5 {
	line-height: 3.5em;
}
.lh-4 {
	line-height: 4em;
}

@-webkit-keyframes dash-fade-in {
50% {
fill-opacity: 0;
stroke-opacity: 1;
}
100% {
stroke-opacity: 0;
fill-opacity: 1;
stroke-dashoffset: 0;
}
}

@keyframes dash-fade-in {
50% {
fill-opacity: 0;
stroke-opacity: 1;
}
100% {
stroke-opacity: 0;
fill-opacity: 1;
stroke-dashoffset: 0;
}
}

@media (max-width: 1200px) {
	blockquote h2 {
		padding: 20px 0 60px 20px;
		margin: 5px 0 0 0;
		font-size: 50px;
		color: #ff7200;
		border-left: 10px solid #ff7200;
	}
}

@media only screen and (max-width: 995px) {
	.mermaid {
		height: 450px;
		width: 800px;
	}
	blockquote h2 {
		padding: 20px 0 60px 20px;
		margin: 5px 0 0 0;
		font-size: 50px;
		color: #ff7200;
		border-left: 10px solid #ff7200;
	}
	.section-background {
		background-size: cover;
		background-position: center center;
		height: 600px;
	}
	.nav-pills.open {
		max-height: 200px;
		padding-left: 10%;
	}
}

@media only screen and (max-width: 768px) {
	blockquote h2 {
		padding: 20px 0 60px 20px;
		margin: 5px 0 0 0;
		font-size: 50px;
		color: #ff7200;
		border-left: 10px solid #ff7200;
	}
	.section {
		overflow: hidden;
		/* position: relative; */
		padding: 30px 0 0;
		background-color: #f5f4ef;
	}
	.mermaid {
		height: 300px;
		width: 533px;
	}
	.mobile-btn {
		display: block;
	}
	.navbar {
		height: auto;
	}
	.nav {
		position: relative;
	}
	.nav-pills {
		max-height: 0;
		overflow: hidden;
		clear: both;
	}
	.nav-pills.open {
		max-height: 200px;
		padding-left: 10%;
	}
	.nav-pills > li, .nav-pills.pull-right {
		float: none !important;
	}
}

@media (max-width: 480px) {
	h1, .h1 {
		font-size: 40px;
	}
	.mermaid {
		height: 200px;
		width: 356px;
	}
	h2, .h2 {
		font-size: 29px;
	}
	.section {
		overflow: hidden;
		/* position: relative; */
		padding: 30px 0 0;
		background-color: #f5f4ef;
	}
	.section-background {
		background-size: cover;
		background-position: center center;
		height: 100%;
	}
		blockquote h2 {
	    padding: 0;
	    margin: 5px 0 0 0;
	    font-size: 40px;
	    color: #ff7200;
	    border-left: 0;
	}
		blockquote h3 {
	    padding: 0;
	    margin: 5px 0 0 0;
	    font-size: 40px;
	    color: #ff7200;
	    border-left: none;
	}
	.main-version {
		/* margin-left: 50%; */
		/* margin-right: 50%; */
		font-size: 12px;
		color: rgba(255, 255, 255, 0.75);
		vertical-align: text-bottom;
		/* margin-top: 90px; */
		/* margin-bottom: -3px; */
		background: url(../images/logos/logo_spark.png) no-repeat center;
		width: 100%;
		/* padding: 10px 40%; */
		/* align-content: center; */
		/* text-align: center; */
		/* border-bottom: solid 1px #333333; */
		/* border-top: solid 1px #333333; */
	}
	.brand-feature {
		font-size: 11px;
		color: rgba(255, 255, 255, 0.75);
		vertical-align: text-bottom;
		/* margin-top: 5px; */
		margin-left: 40%;
		/* margin-right: 20px; */
		font-weight: bold;
		text-transform: uppercase;
		/* float: right; */
	}
	.main-logo {
		position: absolute;
		margin: 0 0 0 0;
		background-image: url(../images/logos/nzherald_white.png);
		background-size: 38px 48px; 
		width: 38px;
		height: 48px
	}
	.navbar a {
		font-size: 12px;
		color: #ffffff;
		background-color: transparent;
	}
	ul, ol {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.nav-pills.open {
		max-height: 200px;
	}
	.nav > li > a {
		padding: 8px 16px;
	}
	.first {
		padding-top: 80px;
	}
	.float-center {
		padding: 0 15%;		
	}
}